# variables para configuración de la aplicación
NODE_ENV = 
PORT = 

# PostgreSQL
DB_HOST=
DB_PORT=
DB_EXTERNAL_PORT=

DB_NAME=
DB_USER=
DB_PASSWORD=
DB_SQL_LOGGING=

# MongoDB
MONGO_URI=
MONGO_PORT=

# SMTP Configuration
SMTP_HOST=
SMTP_PORT=
SMTP_ENABLE_SSL=
SMTP_USERNAME=
SMTP_PASSWORD=
EMAIL_FROM=
EMAIL_FROM_NAME=

# JWT
JWT_SECRET=
JWT_ISSUER=
JWT_AUDIENCE=
JWT_EXPIRES_IN=

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_FOLDER=

#Usuario Admin
ROOT_ADMIN_EMAIL=
ROOT_ADMIN_PASSWORD=
ROOT_ADMIN_USERNAME=
ROOT_ADMIN_TOKEN=

# File upload
UPLOAD_PATH=